VITE_FIREBASE_API_KEY=AIzaSyDmAVzU6FOmbdAgvDU5ATbb1Evk_9M1jjY
VITE_FIREBASE_AUTH_DOMAIN=joblinks-20464.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=joblinks-20464
VITE_FIREBASE_STORAGE_BUCKET=joblinks-20464.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=351012321440
VITE_FIREBASE_APP_ID=1:351012321440:web:e75aed96831f0c96dff1c5
